# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Data, models, outputs
data/raw/
data/processed/
outputs/
models/
*.h5
*.keras
*.pth
*.pt
# Demo generated assets
demo_assets/

# Fine-tuning dataset
EvoTrack_Finetuning_Dataset/
